@import "variables";
@import "mixins";


.excel__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;


  &__container {
    display: flex;
    margin: 0;


    .button__text {
      margin: 2px 1px 2px 1px;
      height: 22px;
      min-width: 22px;
      padding: 3px;
      text-align: center;
      position: relative;
      display: inline-block;
      color: rgba(0, 0, 0, .7);

      & i {
        font-size: 20px;
      }
    }

    &__select__font:hover {
      border-color: #90dd90;
    }

    &__select__font__size:hover {
      border-color: #90dd90;
    }

    &__select__font, &__select__font__size {
      margin: 2px 0px;
      outline: none;
      border-radius: 5px;
      height: 22px;
    }

    &__select__font {
      width: 110px;
    }

    &__select__font__size {
      width: 40px;
      margin-right: 1px;
    }
  }

  .button {
    @include button(#90dd90);
    }


  .change__color__container {
    display: flex;
    position: relative;


    .button {
      margin: 2px 1px 2px 1px;
      height: 22px;
      min-width: 22px;
      padding: 3px;
      text-align: center;
      position: relative;
      border: 1px solid #000000;
      border-radius: 5px;
      color: #000000;

      & i {
        font-size: 16px;
      }

      &:active, &.active {
        color: #90dd90;
        border: 2px solid;
      }

      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }

    div.container__text {
      display: flex;
    }

    div.container__background {
      display: flex;
      left: -64px;
    }

    .container {
      position: absolute;
      bottom: -158px;
      margin-left: 15px;
      margin-top: 3px;
      width: 100px;
      height: 160px;
      left: -90px;
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #ffffff;
      z-index: 1000;


      .box {
        margin: 0;
        height: 20px;
        width: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

